/* ------- font-family: Merriweather ----------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* ------font-family: "Inter" --------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ------ universal sector ------*/

* {
    margin: 0;
    padding: 0;
}

.container-area {
    width: 85%;
    margin: auto;
}

/* ------ common style section here -----------*/



/* ------ common style section ended -----------*/


/* --------------- hero banner section style here --------- */

.hero-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 100px;
}

.hero-bg p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.hero-bg h3 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 345px;
    text-align: center;
}

/* ------------- hero banner section style ended --------- */


/* --------- discount 65% OFF style start here ------------*/

.Discount-area {
    text-align: center;
    margin-bottom: 120px;
}

.Discount-area h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
}

.Discount-area p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin: 24px 0 16px 0;
}

.Discount-area h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.Discount-area img {
    height: 500px;
}

/* --------- discount 65% OFF style ended ------------*/

/* --------- party banner section style here ----------- */
.party-banner-bg {
    height: 600px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    border-radius: 15px;
}

.party-banner {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 65px 130px;
}

.party-banner-info h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.party-banner-info>p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0 30px 0;
}

.party-banner-info p a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

/* --------- party banner section style ended ----------- */